services:
  - type: worker
    name: discord-bot
    env: python
    plan: free
    buildCommand: "pip install -r requirements.txt"
    startCommand: "python at.py"
    envVars:
      - key: PYTHON_VERSION
        value: 3.12.7
